@using Acme.SimpleTaskApp.Products;
@using Acme.SimpleTaskApp.Web.Models.Products
@using Acme.SimpleTaskApp.Web.Models.Categories
@using Acme.SimpleTaskApp.Web.Views.Shared.Components.CategoryList
@using static Acme.SimpleTaskApp.Products.Product
@model Acme.SimpleTaskApp.Web.Models.Products.DetailProductModalViewModel

@{
  ViewData["Title"] = "Detail";
  Layout = "~/Views/Shared/Layout/Customer/_LayoutCustomer.cshtml";
}
<link href="~/css/style.css" rel="stylesheet" />

<div class="container-fluid py-5 mt-5">
  <div class="container py-5" style="padding: 0px 120px 0px 120px;">
    <div class="row g-4 mb-5">
      <div class="col-lg-8 col-xl-9">
        <div class="row g-4">
          <div class="col-lg-6">
            <div class="border rounded">
              <img src="@Model.Product.Image" class="img-fluid w-100 rounded-top" alt="">
            </div>
          </div>
          <div class="col-lg-6">
            <h4 class="fw-bold mb-3">@Model.Product.Name</h4>
            <p class="mb-3">
              @switch (@Model.Product.State)
              {
                case ProductState.Available:
                  <span class="text-success">Còn hàng</span>
                  break;
                case ProductState.OutOfStock:
                  <span class="text-danger">Hết hàng</span>
                  break;
              }
            </p>
            <h5 class="fw-bold mb-3">@Model.Product.Price.ToString("#,##0") VNĐ</h5>
            <p class="mb-4">@Model.Product.Description</p>
            <a href="#" class="btn border border-secondary rounded-pill px-2 py-1 text-primary" style="font-size: 15px; margin-top: 185px;">
              <i class="fa fa-shopping-bag me-1 text-primary" style="font-size: 15px;"></i>
              Thêm giỏ hàng
            </a>
          </div>
          <div class="col-lg-12">
            <nav>
              <div class="nav nav-tabs mb-3">
                <button class="nav-link active border-white border-bottom-0" type="button" role="tab"
                id="nav-about-tab" data-bs-toggle="tab" data-bs-target="#nav-about"
                aria-controls="nav-about" aria-selected="true">
                  Mô tả sản phẩm
                </button>
                <button class="nav-link border-white border-bottom-0" type="button" role="tab"
                id="nav-mission-tab" data-bs-toggle="tab" data-bs-target="#nav-mission"
                aria-controls="nav-mission" aria-selected="false">
                  Đánh giá
                </button>
              </div>
            </nav>
            <div class="tab-content mb-5">
              <div class="tab-pane active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                <p>
                  @Model.Product.Description
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-xl-3">
        <div class="row g-4 fruite">
          <div class="col-lg-12">
            <div class="p-3 rounded shadow rounded">
              <h5 class="fw-bold text-danger mb-3 rounded" style="background-color: #FFE5E5; padding: 8px; text-align: center;">
                <i class="bi bi-gem"></i> ƯU ĐÃI HOÀNG HÀ
              </h5>
              <ul class="list-unstyled">
                <li class="d-flex align-items-start mb-2">
                  <span class="badge bg-danger rounded-circle me-2">1</span>
                  Giảm thêm tới 90,000 cho Hoàng Hà Members (Kiểm tra ngay giá cuối của bạn)
                </li>
                <li class="d-flex align-items-start mb-2">
                  <span class="badge bg-danger rounded-circle me-2">2</span>
                  Trả góp 4 không, duyệt nhanh 10 phút: 0% lãi suất - 0 phí chuyển đổi - 0 phí ẩn - 0 trả trước* (Áp dụng cho công ty tài chính và thẻ tín dụng)
                </li>
                <li class="d-flex align-items-start">
                  <span class="badge bg-danger rounded-circle me-2">3</span>
                  Lên đời OPPO Reno12 F 5G 8GB/256GB & OPPO Reno12 5G 12GB/256GB trợ giá lên tới 1.000.000đ (Khám phá ngay)
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    @await Component.InvokeAsync("ProductList")

  </div>
</div>