@using Acme.SimpleTaskApp.Products;
@using Acme.SimpleTaskApp.Web.Models.Products
@using static Acme.SimpleTaskApp.Products.Product
@model Acme.SimpleTaskApp.Web.Models.Products.ProductViewModel

@{
  ViewData["Title"] = "Index";
  Layout = "~/Views/Shared/Layout/Customer/_LayoutCustomer.cshtml";
}

@section scripts
{
  <environment names="Development">
    <script src="~/view-resources/Views/HomeCustomer/mainCustomer.js"
            asp-append-version="true"></script>
    <link href="~/css/style.css" rel="stylesheet" />
  </environment>
}

@*   <div class="col-12"> *@
@*     <div class="pagination d-flex justify-content-center mt-5"> *@
@*       <a href="#" class="rounded">&laquo;</a> *@
@*       <a href="#" class="active rounded">1</a> *@
@*       <a href="#" class="rounded">2</a> *@
@*       <a href="#" class="rounded">3</a> *@
@*       <a href="#" class="rounded">4</a> *@
@*       <a href="#" class="rounded">5</a> *@
@*       <a href="#" class="rounded">6</a> *@
@*       <a href="#" class="rounded">&raquo;</a> *@
@*     </div> *@
@*   </div> *@


@* bang moi *@
<div class="container mt-4 ml-5 mr-5" style="width: 1106px; padding-top: 100px;">
  <div class="row row-cols-6 g-3 d-flex flex-wrap">
    @foreach (var product in Model.Products)
    {
      <div class="col" style="width: 183px; margin-top: 0; padding-bottom: 10px;">
        <div class="card product-click-detail" data-id="@product.Id">
          @if (@product.Image != "")
          {
            <img src="@product.Image" class="card-img-top" alt="@product.Name" style="width: auto; height: auto;">
          }
          else
          {
            <img src="~/img/products/default.png" class="card-img-top" alt="@product.Name" style="width: auto; height: auto;">
          }
          <div class="card-body">
            <h5 class="card-name">@product.Name</h5>
            <div class="product-price">
              <h5 class="current-price">@product.Price.ToString("#,##0")₫</h5>
              <div class="old-price">
                <h5 class="strikethrough">2.990.000₫</h5> <!-- Giá giảm fix cứng -->
                <span class="discount" style="color: #ff0000;">-13%</span>
              </div>
            </div>
            <div class="stock-status">
              @if (product.State == ProductState.Available)
              {
                <span class="text-success">Còn hàng</span>
              }
              else
              {
                <span class="text-danger">Hết hàng</span>
              }
            </div>
          </div>
          <button class="detail-btn product-click-detail" data-id="@product.Id">
            Xem chi tiết
          </button>
        </div>
      </div>
    }

  </div>
</div>
