@using Acme.SimpleTaskApp.Web.Models.Common.Modals
@using Acme.SimpleTaskApp.Web.Models.Products
@model CreateProductViewModel
@{
  Layout = null;
}

<div class="modal fade" id="ProductCreateModal" tabindex="-1" role="dialog" aria-labelledby="ProductCreateModalLabel" data-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      @await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("CreateNewProduct")))

      <form name="productCreateForm" role="form" class="form-horizontal">
        <div class="modal-body">
          <div class="form-group row required">
            <label class="col-md-3 col-form-label">@L("Name")</label>
            <div class="col-md-9">
              <input type="text" class="form-control" name="Name" required placeholder="Nhập tên sản phẩm...">
            </div>
          </div>
          <div class="form-group row required">
            <label class="col-md-3 col-form-label">@L("Description")</label>
            <div class="col-md-9">
              <textarea class="form-control" name="Description" required rows="3" placeholder="Nhập mô tả sản phẩm..."></textarea>
            </div>
          </div>
          <div class="form-group row required">
            <label class="col-md-3 col-form-label">@L("Price")</label>
            <div class="col-md-9">
              <input type="text" class="form-control" name="Price" required placeholder="Nhập giá sản phẩm...">
            </div>
          </div>
          <div class="form-group row required">
            <label class="col-md-3 col-form-label">@L("Image")</label>
            <div class="col-md-9">
              <label for="productImage" class="form-label">Chọn ảnh sản phẩm</label>
              <input type="file" class="form-control" id="productImage" name="ImageFile" accept="image/*">
              <div style="margin-top: 10px;">
                <img id="productImagePreview" src="" alt="Ảnh xem trước"
                     style="max-width: 300px; display: none; border: 1px solid #ccc; padding: 5px; border-radius: 8px;" />
                <button id="deleteProductImageBtn" type="button" style="display: none;">
                  Xóa ảnh
                </button>
              </div>
            </div>
          </div>
          <div class="form-group row required">
            <label class="col-md-3 col-form-label">@L("State")</label>
            <div class="col-md-9">
              <select class="form-control" name="State">
                <option value="0">@("Còn hàng")</option>
                <option value="1">@("Hết hàng")</option>
              </select>
            </div>
          </div>
          <div class="form-group row required">
            <label class="col-md-3 col-form-label">@L("Category")</label>
            <div class="col-md-9">
              <select class="form-control" name="CategoryId">
                <option value="">Chọn danh mục</option>
                @foreach (var category in Model.Categories)
                {
                  <option value="@category.Value">@category.Text</option>
                }
              </select>
            </div>
          </div>
        </div>

        @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
      </form>
    </div>
  </div>
</div>

<script src="~/view-resources/Views/Products/_CreateModal.js" asp-append-version="true"></script>