<div class="abp-advanced-search p-3" style="width: 100%;">
  <form id="OrderSearchForm" class="form-horizontal" style="max-width: 100%;">
    <div style="display: flex; flex-wrap: wrap; gap: 15px; width: 100%;" class="align-items-center">
      <!-- Dropdown phương tiện di chuyển -->
      <div style="min-width: 200px;">
        <label for="PaymentMethod" class="font-weight-bold">@L("PaymentMethod")</label>
        <select class="form-control w-100" id="PaymentMethod" name="PaymentMethod">
          <option value="">Tất cả</option>
          <option value="0">@L("CashPayment")</option>
          <option value="1">@L("TransferBank")</option>
        </select>
      </div>

      <div style="min-width: 100px;">
        <label for="OrderStatus" class="font-weight-bold">@L("OrderStatus")</label>
        <select class="form-control w-100" id="OrderStatus" name="OrderStatus">
          <option value="">Tất cả</option>
          <option value="0">@L("Pending")</option>
          <option value="1">@L("Delivery")</option>
          <option value="2">@L("Success")</option>
          <option value="3">@L("Reject")</option>
          <option value="4">@L("Canceled")</option>
        </select>
      </div>

      <!-- Nút tìm kiếm -->
      <div style="min-width: 100px; text-align: right;">
        <label class="d-block invisible">Tìm kiếm</label>
        <button type="button" class="btn bg-blue btn-search px-4 w-100">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </form>
</div>
